@font-face {
    font-family: 'DancingScript';
    src: url("../font/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'LXG_reg';
    src: url("../font/LXGWWenKaiTC-Regular.ttf");
}
@font-face {
    font-family: 'LXG_bold';
    src: url("../font/LXGWWenKaiTC-Bold.ttf");
}

main>h1{
    display: flex;
    justify-content: center;
    color: #644D45;
    font-size: 300%;
    font-family: "DancingScript", sans-serif;
    /**margin-bottom: 500px;**/
}

main>p{
    text-align: center;
    font-size: 130%;
    font-family: "LXG_bold", sans-serif;
}

#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20%;
}

#horaires{
    margin-left: 2%;
    font-family: "LXG_reg", sans-serif;
}

#horaires>p{
    font-size: 120%;
}

#horaires>nav>ul>li{
    font-size: 110%;
}

#tarifs{
    margin-left: 2%;
    font-family: "LXG_reg", sans-serif;
}

#tarifs>p{
    font-size: 120%;
}

#tarifs>nav>ul>li{
    font-size: 110%;
}




